@model TestTask.Domain.ViewModels.Book.BookModel
<a href="@Url.Action("Index")" class="btn btn-primary d-inline-flex align-items-center" style="margin-bottom: 20px">
  <svg style="margin-right: 7px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16"><path d="M10.53 5.03a.75.75 0 10-1.06-1.06l-6.25 6.25a.75.75 0 000 1.06l6.25 6.25a.75.75 0 101.06-1.06L5.56 11.5H17a3.248 3.248 0 013.25 3.248v4.502a.75.75 0 001.5 0v-4.502A4.748 4.748 0 0017 10H5.56l4.97-4.97z"></path></svg>
  Back
</a>

<form asp-controller="Library" asp-action="@(Model?.Id == null ? "CreateBook" : "EditBook")" method="post">
  @if (Model?.Id != 0)
  {
    <p><span class="font-weight-bold" style="margin-right: 10px">@Html.DisplayNameFor(x => x.Id):</span>@Model?.Id</p>
    <input asp-for="Id" type="hidden">
  }
  <div class="form-group">
    <label asp-for="Name"></label>
    <input class="form-control" asp-for="Name" placeholder="Enter name">
    <span asp-validation-for="Name" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label asp-for="Year"></label>
    <input class="form-control" asp-for="Year" placeholder="Enter year of publication">
    <span asp-validation-for="Year" class="text-danger"></span>
  </div>
  <p>@Html.DisplayNameFor(x => x.Authors)</p>
  @if (Model?.Authors != null)
  {
    foreach (var author in Model.Authors)
    {
      <div class="form-group form-group-delete">
        <input type="text" class="form-control" value="@author.Surname" name="author" placeholder="Enter author surname">
        <button  type="button" class="btn btn-outline-danger delete-btn"></button>
      </div>
    }
  }
  <div id="fields"></div>
  <button class="btn btn-primary" id="add-field">
    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
    </svg>
  </button>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

