@using Microsoft.EntityFrameworkCore.Internal
@using TestTask.Mvc.Extensions
@model IEnumerable<LibraryItemViewModel>


<h2>Library</h2>
<table class="table table-striped text-center table-middle">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">@Html.DisplayNameFor(x => x.Book.Name)</th>
        <th scope="col">@Html.DisplayNameFor(x => x.Book.Year)</th>
        <th scope="col">@Html.DisplayNameFor(x => x.Authors)</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in @Model)
    {
        <tr class="align-middle">
            <th scope="row">@(Model.IndexOf(item) + 1)</th>
            <td>@Html.DisplayFor(x => item.Book.Name)</td>
            <td>@Html.DisplayFor(x => item.Book.Year)</td>
            <td>
                <a
                    data-placement="top"
                    class="btn btn-info"
                    role="button"
                    data-toggle="popover"
                    data-trigger="focus"
                    title="@Html.DisplayNameFor(x => item.Authors)"
                    data-content="@item.Authors.Select(a => a.Surname).JoinWithNewLine()">
                    Show @Html.DisplayNameFor(x => item.Authors)
                </a>
            </td>
            <td>
                @Html.ActionLink("Edit book", "EditBook", new { id=item.Book.Id }, new { @class = "btn btn-success"}) |
                @Html.ActionLink("Book details", "BookDetails", new { id=item.Book.Id  }, new { @class = "btn btn-primary"}) |
                @Html.ActionLink("Delete book", "DeleteBook", new { id = item.Book.Id }, new { @class = "btn btn-danger"})
            </td>
        </tr>
    }
    </tbody>
</table>