@using Microsoft.EntityFrameworkCore.Internal
@model IEnumerable<TestTask.Domain.ViewModels.Book.BookModel>


<h2>Library</h2>
<partial name="Alert" model="@TempData["Alert"]"/>
@TempData["Alert"]
<table class="table table-striped text-center table-middle">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">@Html.DisplayNameFor(x => x.Name)</th>
        <th scope="col">@Html.DisplayNameFor(x => x.Year)</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var book in @Model)
    {
        <tr class="align-middle">
            <th scope="row">@(Model.IndexOf(book) + 1)</th>
            <td>@Html.DisplayFor(x => book.Name)</td>
            <td>@Html.DisplayFor(x => book.Year)</td>
            <td>
                @Html.ActionLink("Edit book", "EditBook", new { id=book.Id }, new { @class = "btn btn-success"}) |
                @Html.ActionLink("Book details", "BookDetails", new { id=book.Id  }, new { @class = "btn btn-primary"}) |
                @Html.ActionLink("Delete book", "BookDetails", new { id = book.Id, delete = true }, new { @class = "btn btn-danger"})
            </td>
        </tr>
    }
    </tbody>
</table>

<a href="@Url.Action("CreateBook")" class="btn btn-primary">Create new book</a>
<a href="@Url.Action("AuthorList")" class="btn btn-primary">Authors</a>

